// src/scss/_mixins.scss

// Mixins para botões
@mixin button-style($bg-color, $hover-color) {
background-color: $bg-color;
border: none;
color: $branco-color;
padding: $padding;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.3s ease;

&:hover {
    background-color: $hover-color;
}
}