// src/scss/_variables.scss

// Cores
$primary-color: #1e90ff;
$secondary-color: #3742fa;
$background-color: #2f3542;
$branco-color: white;
$branco-alice-color: aliceblue;
$text-color: #dfe4ea;
$button-color: #ff4757;
$button-hover-color: #ff6348;
$verde-tranparente-color: rgba(0, 128, 0, 0.3);
$vermelho-tranparente-color:  rgba(255, 0, 0, 0.3);
$azul-tranparente-color:rgba(0, 0, 255, 0.2);

// Fontes
$font-family: 'Roboto', sans-serif;

// Espaçamentos
$padding: 16px;
$margin: 16px;